#Java
target/
*.class
*.jar
*.war
*.ear
logs/
.openapi-generator/
**/backend/api/

#Node
node_modules/
dist/
build/
.npm/
.yarn/
coverage/

#Docker
.env
*.pid
*.log
*.tmp
infra/postgres/db_data/


#Os/editor junk
.vscode/
.idea/
*.iml
*.swp
*.swo
